.card {
  width: 99%;
  margin: 0 auto;
}
/* CONFIGURAÇÕES DOS CARDS COM MEDIA QUERY */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .card {
    width: 97%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .card {
    width: 96%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .card {
    width: 98.5%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .card {
    width: 100%;
  }
}
